<div class="shadow rounded p-5">
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :content, input_html: { data: { voice_input_target: 'input' } } %>
      <div class="my-4">
        <span
          data-action="click->voice-input#record"
          class="record"
          data-target="voice-input.startButton"
        >
          Start Recording
        </span>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-sm btn-success' %>
    </div>
  <% end %>
</div>
